# add git-ignore syntax here of things you don't want copied into docker image

.env*
.git/
.results/
.storybook/
.circleci/

node_modules/
coverage/
reports/
documentation/

build/

*Dockerfile*
README.md
